<header class="header">

	<div class="auth-header ">
		<div class="auth-header__container _container">
			<div class="auth-header__items">
				{% if request.user.is_authenticated %}
				{% if user.first_name %}
				Добро пожаловать, {{ user.first_name }} {{ user.last_name }} | <a href="{% url 'accounts:logout' %}" class="auth-header__item">Выход</a>
				{% else %}
				Добро пожаловать, {{ user.username }} | <a href="{% url 'accounts:logout' %}" class="auth-header__item">Выход</a>
				{% endif %}
				{% else %}
				<a href="{% url 'accounts:register' %}" class="auth-header__item">Регистрация</a> 
				<a href="{% url 'accounts:login' %}" class="auth-header__item">Логин</a> 
				<a href="/login/vk-oauth2" class="auth-header__item"><img src="img/icons/social/vk_icon.svg" alt=""></a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="header__main">
		<div class="header__content _container">
			<div class="header__column ">
				<a href="" class="header__logo">
					<img src="img/icons/social/vk_icon.svg" alt="">
				</a>
			</div>
			<div class="header__column">
				<nav class="header__menu">
					<ul class="header__list">
						<li><a href="{% url 'blog:home' %}" class="header__link">Главная</a></li>
						<li><a href="{% url 'blog:history' %}" class="header__link">История</a></li>
						<li><a href="{% url 'blog:about' %}" class="header__link">О нас</a></li>
						<li><a href="" class="header__link">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="header__column">
				<form class="header__search-form" action="{% url 'blog:search_in_articles' %}" method="get">
					<input class="header__search-input" name="q" type="text" placeholder="Запрос...">
					<input class="header__search-submit" type="image" src="img/icons/searh_icon.png" alt="">
				</form>
			</div>
		</div>
	</div>
</header>