{% extends 'blog/base.html' %}


{% block title %} {{ article.article_title }} {% endblock %}
{% block content %}


<main class="page detail-page">
	<div class="detail-page__container _container">
		<div class="detail-page__title">
			{{ article.article_title }}
		</div>
		<div class="detail-page__date">{{ article.article_date }}</div>
		<div class="detail-page__img _ibg">
			<img src="{{ MEDIA_URL }}{{ article.images.first.image.url }}" alt="">
		</div>
		<div class="detail-page__text">
			<pre>{{article.article_text}}</pre>
		</div>
		<div class="detail-page__comments">


			<hr>
			{% if latest_comments_list %}
			{% for comment in latest_comments_list %}


			<div class="detail-page__comment comment-detail-page">
				<div class="comment-detail-page__text">{{ comment.comment_text }}</div>
				<div class="comment-detail-page__date">{{comment.comment_date}}</div>
			</div>
			{% endfor %}
			{% else %}
			Комментарий не найдены!
			{% endif %}
			<hr>
			<form action="{% url 'blog:leave_comment' article.id %}" class="detail-page__form form-detail-page"
				method="POST">
				{% csrf_token %}
				<textarea name="text" class="form-detail-page__text" name="email_massege" id="" required
					placeholder="Введите текст"></textarea> <br>
				<button class="form-detail-page__btn _btn" type="submit">Отправить</button>
			</form>
		</div>

	</div>

</main>





</div>
</main>

{% endblock %}

<!--{% if article.was_published_recently %}
<h2>Новая статья!</h2>
{% endif%}
<em>{{ article.article_date }}</em>
<p>{{article.article_text}}</p>
{% for articleImage in article_images %}
<img src="{{ MEDIA_URL }}{{ articleImage.image.url }}" ">
{% endfor %}



-->