{% extends 'blog/base.html' %}
{% load static %}
{% block title %} {{ article_title }} {% endblock %}

{% block content %}
<!--
	{% if lates_articles_list %}

		{% for article in lates_articles_list %}
			<a href="{% url 'blog:article-detail' article.id %}">{{article.article_title}}</a>
			<p>{{article.article_text}}</p>
		{% for articleImage in article.images.all %}
		<img src="{{ MEDIA_URL }}{{ articleImage.image.url }}" ">
		{% endfor %}
		{% endfor %}
	{% else %}
		Статьи не найдены
	{% endif %}
	!!! { % include 'inc/_sidebar.html' % } Для отдельного подключения навигации
-->


<div class="home page">

	<div class="home__container _container">
		<div class="home__content">
			{% if articles %}
			<div class="news">
				{% for article in articles %}
				<a href="" class="news__title">{{article.article_title}}</a>
				<div class="news__item">
					<div class="news__head">
						<a href="{{ MEDIA_URL }}{{ article.images.first.image.url }}" target="_blank"
							class="news__image _ibg">
							<img src="{{ MEDIA_URL }}{{ article.images.first.image.url }}" alt="">
						</a>
						<div class="news__pub-date pub-date">
							{{article.article_date}}
						</div>
					</div>
					<div class="news__body">

						<div class="news__text">

							{{article.article_text}}
						</div>
						<a class="news__btn"></a>
					</div>

				</div>
				{% endfor %}
				<div id="pages" align="center" style="font-size: 25px; padding: 20px 0px;" class="pagination">
					{% if articles.has_previous %}
					<a href="?page={{ articles.previous_page_number }} ">«</a>
					{% endif %}
					{% if articles.has_previous or articles.has_next %}
					<span class="current" style="margin: 0px 20px;">
						Страница {{ articles.number }} из {{ articles.paginator.num_pages }}.
					</span>
					{% endif %}
					{% if articles.has_next %}
					<a href="?page={{ articles.next_page_number }}">»</a>
					{% endif %}
				</div>


				{% else %}
				Статьи не найдены
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}